@import url('https://googleapis.com');

body {
  background-color: #2484a7;   
  color: #062c44eb;              
  font-family: 'Fredoka', sans-serif;     
}
h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;       
  color: #ffd700;      
  letter-spacing: 1px;    
}

nav {
  background-color: #012a20; 
  padding: 15px 25px;        
  border-radius: 12px;       
  display: flex;             
  gap: 26px;                 
  margin-bottom: 30px;     
  border-bottom: 4px solid #ffd700; 
}

nav a {
  color: #a7de96;         
  text-decoration: none;    
  font-weight: 700;        
  font-size: 1.1rem;        
  transition: color 0.2s;  
}

nav a:hover {
  color: #ffd700;       
}
nav a.active {
  color: #cbad03d3;
  border-bottom: 2px solid #ffd700;
  padding-bottom: 4px;
}
